doctype html
html
  head
    title Russell Hobbs
    meta(charset="utf-8")
    meta(name="viewport",content="width=1024")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")
  body
    #app
    script(type="application/javascript", src="#{app}", async, defer)
    noscript
        div
            img(src="https://mc.yandex.ru/watch/33079538" style="position:absolute; left:-9999px;" alt="")
    script.
        !function(e,t,a){(t[a]=t[a]||[]).push(function(){try{t.yaCounter33079538=new Ya.Metrika({id:33079538,clickmap:!0,trackLinks:!0,accurateTrackBounce:!0})}catch(e){}});var c=e.getElementsByTagName("script")[0],n=e.createElement("script"),r=function(){c.parentNode.insertBefore(n,c)};n.type="text/javascript",n.async=!0,n.src="https://mc.yandex.ru/metrika/watch.js","[object Opera]"==t.opera?e.addEventListener("DOMContentLoaded",r,!1):r()}(document,window,"yandex_metrika_callbacks");
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-68931467-1', 'auto');
        ga('send', 'pageview');
    //link(rel='stylesheet', href='/layout/css/style.css')
